html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
}

input, textarea {
  transition: border-color 0.2s;
}

input:focus, textarea:focus {
  border-color: #ec4899;
  outline: none;
}
